# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ZaDuzoZaMalo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Studia\Programowanie obiektowe - lab\Serializacja\ZaDuzoZaMalo\.idea\.idea.ZaDuzoZaMalo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
